In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('./data/eth_data.csv')

In [3]:
data.head()

               t        o        h        l        c         v            qv
0  1735689600000  3336.58  3337.28  3334.76  3337.25  1138.373  3.797686e+06
1  1735689660000  3337.25  3338.41  3336.48  3338.40   708.214  2.363459e+06
2  1735689720000  3338.40  3341.86  3338.05  3341.86  1947.567  6.505307e+06
3  1735689780000  3341.86  3341.87  3338.22  3339.50   671.721  2.243730e+06
4  1735689840000  3339.50  3341.56  3339.12  3339.41   532.730  1.779639e+06

In [4]:
data.columns

Index(['t', 'o', 'h', 'l', 'c', 'v', 'qv'], dtype='object')

In [5]:
cur_data=data[-10000:]

In [6]:
cur_data.to_csv('./data/min_eth_data.csv',index=False)